.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(201, 12, 116);
    
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
 
  
  a {
    color:black;
    text-decoration: none;
    font-size: 20px;
  }
  
  a.active {
    font-weight: bold;
  }
  