/* Ümumi sıfırlama və bədən tərtibatı */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  /* Məhsul kartlarının konteyneri */
  .product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 20px;
  }
  
  /* Hər bir məhsul kartı */
  .product-card {
    background-color: white;
    border-radius: 8px;
    width: 23%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
  }
  
  .product-card h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
  }
  
  .product-card strong {
    font-size: 16px;
    color: #333;
  }
  
  /* Hover effekti */
  .product-card:hover {
    transform: translateY(-10px);
  }
  
  @media (max-width: 768px) {
    .product-card {
      width: 48%;
    }
  }
  
  @media (max-width: 480px) {
    .product-card {
      width: 100%;
    }
  }
  